<h1>Account of [{{account.description}}] <br/> Transactions of Sub Account [{{subaccount.description}}]</h1>
[ <a href="#!accounttransactions/{{subaccount.id}}">List Transactions</a> | <a href="#!cadastrotransaction/{{subaccount.id}}"><i class="material-icons" style="font-size:18px;">add_circle</i> New Transaction</a> ]

<div class="w3-container">

<table class="w3-table-all">
    <thead>
        <tr class="w3-green">
            <th>Code</th>
            <th style="text-align: center;">Date</th>
            <th>Payee</th>
            <th style="text-align: center;">Payment</th>
            <th style="text-align: center;">Proof</th>
            <th style="text-align: center;">Deposit</th>
            <th style="text-align: center;">Balance</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="transaction in accountTransactions track by $index" ng-dblclick="editar(subaccount)" class="w3-hover-blue">
            <td>{{transaction.id}}</td> 
            <td>{{transaction.transactionDate | date:"MM.dd.yyyy"}}</td>
            <td>{{transaction.description}}</td>
            <td style="text-align: right;padding-right: 20px">{{transaction.payment | currency}}</td>
            <td><a ng-show="transaction.detailLink && transaction.detailLink.length"  target="_blank" href="{{transaction.detailLink}}"><i class='fas fa-check-circle'></i></a></td>
            <td style="text-align: right;padding-right: 20px">{{transaction.deposit | currency}}</td>
            <td style="text-align: right;padding-right: 20px">{{transaction.balance | currency}}</td>
            <td style="text-align: center;"><a href="#!cadastrotransaction/{{subaccount.id}}/{{transaction.id}}">[Edit Transaction]</a></td>
            <td><a href="" ng-click="excluir(transaction)"><i class="material-icons">delete</i></a></td>
        </tr>
    </tbody>

</table>
</div>
