<h1>Account of [{{account.description}}] <br/> Transactions of Sub Account [{{subaccount.description}}]</h1>
[ <a href="#!accounttransactions/{{subaccount.id}}">List Transactions</a> | <a href="#!cadastrotransaction/{{subaccount.id}}"><i class="material-icons" style="font-size:18px;">add_circle</i> New Transaction</a> ]

<form name="cadastroTransactionForm">
    <fieldset>
        <div class="row">
            <label for="code">Code </label>
            <input id="code" name="code" type="text" ng-model="transaction.id" readonly/>
        </div>


        <div class="row">
            <label for="transactionDate">Date </label>
            <input form value="{{transaction.transactionDate | date:'yyyy-MM-dd'}}" id="transactionDate" name="transactionDate" type="date" ng-model="transaction.transactionDate" date-fix />
            <span class="w3-text-red" ng-show="cadastroTransactionForm.transactionDate.$dirty && cadastroTransactionForm.transactionDate.$error.required">O campo description é obrigatório!</span>
        </div>
        
        <div class="row">
            <label for="description">Payee </label>
            <input id="description" name="description" type="text" ng-model="transaction.description" minlength="3" required autofocus/>
            <span class="w3-text-red" ng-show="cadastroTransactionForm.description.$dirty && cadastroTransactionForm.description.$error.required">O campo description é obrigatório!</span>
        </div>

        <div class="row">
            <label for="payment">Payment: </label>
            <input id="payment" name="payment" type="number" ng-model="transaction.payment"/>
            <!--<span class="w3-text-red" ng-show="cadastroTransactionForm.payment.$dirty">O campo payment é obrigatório!</span>-->
        </div>

        <div class="row">
            <label for="detailLink">Proof Link </label>
            <input id="detailLink" name="detailLink" type="text" ng-model="transaction.detailLink" minlength="3" autofocus/>
            <!--<span class="w3-text-red" ng-show="">O campo detailLink é obrigatório!</span>-->
        </div>

        <div class="row">
            <label for="deposit">Deposit: </label>
            <input id="deposit" name="deposit" type="number" ng-model="transaction.deposit"/>
            <!--<span class="w3-text-red" ng-show="cadastroTransactionForm.deposit.$dirty">O campo deposit é obrigatório!</span>-->
        </div>
    </fieldset>

    <div class="row">
        <button ng-click="salvar(subaccount.id, transaction)" ng-disabled="cadastroTransactionForm.$invalid"> Save </button>
        <button ng-click="salvarCadastrarNovo(subaccount.id, transaction)" ng-disabled="cadastroTransactionForm.$invalid">  Save and Add New  </button>
        <button ng-click="cancelar()"> Cancel </button>
    </div>
</form>

