<h1>Account registration</h1>
<form name="cadastroAccountsForm">
    <fieldset>
        <div class="row">
            <label for="code">Code </label>
            <input id="code" name="code" type="text" ng-model="account.id" readonly/>
        </div>

        <div class="row">
            <label for="description">Descrição </label>
            <input id="description" name="description" type="text" ng-model="account.description" minlength="3" required autofocus/>
            <span class="w3-text-red" ng-show="cadastroAccountsForm.description.$dirty && cadastroAccountsForm.description.$error.required">O campo description é obrigatório!</span>
        </div>

<!--        <div class="row">
            <label for="preco">Preço: </label>
            <input id="preco" name="preco" type="number" ng-model="account.preco" required/>
            <span class="w3-text-red" ng-show="cadastroAccountsForm.preco.$dirty && cadastroAccountsForm.preco.$error.required">O campo preço é obrigatório!</span>
        </div>-->
    </fieldset>

    <div class="row">
        <button ng-click="salvar(account)" ng-disabled="cadastroAccountsForm.$invalid"> Salvar </button>
        <button ng-click="salvarCadastrarNovo(account)" ng-disabled="cadastroAccountsForm.$invalid"> Salvar e Cadastrar Novo </button>
        <button ng-click="cancelar()"> Cancelar </button>
    </div>
</form>

